

.form-control.me-2.mt-1 {
    margin-top: 0;
}

.form-control{
    height:30px;
}
img.slide{
    height: 800px;
}
.navbar{
    height: 40px;
}
.nav-item :hover{
    background-color: rgb(51, 9, 88);
    color:rgb(0, 0, 0);font-weight: bold;

}
.valorant{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;font-size: 60px;
}
